name: StatsMetrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          base: header, activity, repositories
          config_timezone: America/Sao_Paulo

          template: dark
          config_display: compact


          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_colors: github
          plugin_languages_sections: most-used

          plugin_lines: yes

          plugin_activity: yes
          plugin_stargazers: yes

          plugin_repositories: yes
          plugin_repositories_featured: yes

        
